@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Home{
    display: flex;
    font-family: 'Dm Sans' , sans-serif;
    overflow: hidden;
}

 .First-Image{
    width: 55vw;
    height: 80vh;
    position: relative;
    background-image: url("/bhood images/Top - Copy/1 (2).jpg");
    background-size: 100% 100%;
}

.First-Image-Text{
    position: absolute;
    top: 25%;
    left: 2%;
    color: white;
    display: flex;
}

.BHood{
    font-weight: 400;
}

.SS{
    height: 40px;
    line-height: 40px;
    padding: 5px;
}

.Add{
    width: 35%;
    height: 2.8rem;
    position: relative;
    cursor: pointer;
    position: absolute;
    top: 45%;
    left: 2%;
}

.Add-1{
    width: 142px;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 1.5%;
    background-color: transparent;
    border: 0.6px solid white;
}

.Add-2{
    width: 140px;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
    border: 0.6px solid white;
    display: flex;
    position: relative;
    align-items: center;
}

.FaArrowRight{
    position: absolute;
    top: 35%;
    right: 6%;
}

.Add-2:hover{
    background-color: black;
    color: white;
}

.Shop-Women{
    width: 35%;
    height: 2.8rem;
    position: relative;
    cursor: pointer;
    position: absolute;
    top: 59%;
    left: 2%;
}

.Women-Box1{
    width: 196px;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 1.5%;
    background-color: transparent;
    border: 0.6px solid white;
}

.Women-Box2{
    width: 194px;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
    border: 0.6px solid white;
    display: flex;
    position: relative;
    align-items: center;
}

.FaArrowRight{
    position: absolute;
    top: 35%;
    right: 6%;
}

.Women-Box2:hover{
    background-color: black;
    color: white;
}

.Second-Image{
    width: 45vw;
    height: 80vh;
    overflow: hidden;
    background-image: url("/bhood images/Top - Copy/untitled-video-made-with-clipchamp_deWMx5rA.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media(max-width:450px){
    .First-Image{
        width: 100%;
    }
    
    .Second-Image{
        display: none;
    }
}

@media (max-width:300px){
    
    .Add-1{
        width: 112px;
    }

    .Add-2{
        width: 110px;
        font-size: 13px
    }
    
    .Women-Box1{
        width: 166px;
    }

    .Women-Box2{
        width: 164px;
        font-size: 16px;
    }

    .FaArrowRight{
        display: none;
    }
}

@media (max-width:240px){

    .SS{
        display: none;
    }

    .Add-1{
        width: 90px;
    }

    .Add-2{
        width: 92px;
        font-size: 10px;
    }

    .Women-Box1{
        width: 126px;
        font-size: 10px;
    }

    .Women-Box2{
        width: 124px;
        font-size: 10px;
    }
}

@media(max-height:453px){
    .First-Image{
        height: 100vh;
    }

    .Second-Image{
        height: 100vh;
    }

    .Shop-Women{
        top: 69%;
    }
}